doctype html
html
    head
        title My Pug File
        meta(charset='UTF-8')
        link(rel='stylesheet', href='styles.css')
    body
        header
            h1 Welcome to My Pug File
        section
            h2 About
            p This is a sample Pug file for testing purposes.
        section
            h2 Features
            ul
                li Nested indentation
                li Tags and attributes
                li Variables and interpolation
                li Conditional statements
                li Loops and iterations
        footer
            p Copyright © 2023. All rights reserved.
            p Contact: info@example.co